BIGISUBS_KEY=de9051c659773a345e81665d2f1bb61ef008d99a
FLEEXA_KEY=flx_live_9ba2c89afcb3000ff18189a779a89ad1a312f4a01a9a4e80
SMAFRICA_KEY=9101afc8f250bcfa5650d784cb8a6770f46037b0f12782e419a7018cd05cd312
SMSPOOL_KEY=lrDRJ4k8gXM80fvClpMSODIF95dZ4GqS
SUPABASE_URL=https://bhgkvyfordvbdzyzmhwz.supabase.co
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJoZ2t2eWZvcmR2YmR6eXptaHd6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4ODg2MzIyMCwiZXhwIjoyMTA0NDM5MjIwfQ.i1te5b4GsCc6SAf2ziFzcuJQJX00bByO4gujSCBVJgE
REDIS_URL=redis://default:xxx@xxx.upstash.io:6379
PORT=5000
SMTP_HOST=smtp.gmail.com
SMTP_USER=your_gmail@gmail.com
SMTP_PASS=lemakconnect2026
Admin_key=lemak_super_key_123
